
// Pour les éléments de recherche
.recherche__input, .recherche__bouton {
    height: 50px;
}

// Pour l'en-tête en général
.site__entete {

    $primary-color: rgb(26,26,26);


    a {
        color: $primary-color;
        text-align: center;
    }

    h1,h2,h3,h4,h5 {
        color: $primary-color;
        text-align: center;
    }

    .logomenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #213343;
    }


    .menu-entete-container {
        flex : 1;

        .menu { //ul
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            list-style-type: none;
            margin-left: auto;


            .menu-item {
                flex: 1 0 70px;


                a {
                    padding: 3px 5px;
                    color: white;
                }

            }
        }
    }
}